#main.container-fluid
  .col-md-9.col-lg-10.main
    / toggle sidebar button
    %p.hidden-md-up
      %button.btn.btn-primary-outline.btn-sm{"data-toggle" => "offcanvas", :type => "button"}
        %i.fa.fa-chevron-left
        Menu
    %h3.display-4.hidden-xs-down
      Siten CV Management System
    / %p.lead (Find your CV, find your own style)
    #myAlert.alert.alert-warning.fade.collapse{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      %strong Still many features to implement!
    .row
      .col-md-4.col-sm-6
        .card.card-inverse.card-success
          .card-block.bg-success
            .rotate
              %i.fa.fa-user.fa-5x
            %h6.text-uppercase Users
            %h1.display-1.count #{@users.count}
      .col-md-4.col-sm-6
        .card.card-inverse.card-danger
          .card-block.bg-danger
            .rotate
              %i.fa.fa-list.fa-4x
            %h6.text-uppercase Employers
            %h1.display-1.count
              - if @employers.present?
                #{@employers.count}
      .col-md-4.col-sm-6
        .card.card-inverse.card-info
          .card-block.bg-info
            .rotate
              %i.fa.fa-twitter.fa-5x
            %h6.text-uppercase Profiles
            %h1.display-1.count
              - if @profiles.present?
                #{@profiles.count}
    %hr


    - if current_user.present?
      .col-xs-12
        .table-responsive
          %table.table.table-striped
            %thead.thead-inverse
              %tr
                %th #
                %th User
                %th Email
                %th Last Employer
                %th Last Education
            %tbody
              - @users.each do |user|
                %tr
                  %td=user.id
                  %td=user.username
                  %td= link_to user.email, user_path(user)
                  %td=user.id
                  %td=user.id
      %a#more
      %hr/
    - else
      %h4 Please login!

:javascript

  $('.count').each(function () {
      $(this).prop('Counter',0).animate({
          Counter: $(this).text()
      }, {
          duration: 4000,
          easing: 'swing',
          step: function (now) {
              $(this).text(Math.ceil(now));
          }
      });
  });