%nav.navbar.navbar-fixed-top.navbar-dark.bg-primary
  %button.navbar-toggler.hidden-sm-up.pull-right{"data-target" => "#collapsingNavbar", "data-toggle" => "collapse", :type => "button"}
    ☰
  %a.navbar-brand{:href => "#"} Navbar
  #collapsingNavbar.collapse.navbar-toggleable-xs
    %ul.nav.navbar-nav.pull-right
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only Home
      %li.nav-item
        %a.nav-link{:href => "#features"} Features
      %li.nav-item
        %a.nav-link{"data-toggle" => "collapse", :href => "#myAlert"} Wow
      %li.nav-item
        %a.nav-link{"data-target" => "#myModal", "data-toggle" => "modal", :href => ""} About

    %form.form-inline.navbar-form.pull-right
      %input.form-control{:placeholder => "Search", :type => "text"}/
      %button.btn.btn-secondary-outline{:type => "submit"} Search

#main.container-fluid
  .col-md-9.col-lg-10.main
    / toggle sidebar button
    %p.hidden-md-up
      %button.btn.btn-primary-outline.btn-sm{"data-toggle" => "offcanvas", :type => "button"}
        %i.fa.fa-chevron-left
        Menu
    %h1.display-1.hidden-xs-down
      Bootstrap 4 Dashboard
    %p.lead (with off-canvas sidebar, based on BS v4 alpha)
    #myAlert.alert.alert-warning.fade.collapse{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      %strong Holy guacamole!
      It's free.. this is an example theme.
    .row
      .col-md-3.col-sm-6
        .card.card-inverse.card-success
          .card-block.bg-success
            .rotate
              %i.fa.fa-user.fa-5x
            %h6.text-uppercase Users
            %h1.display-1 134
      .col-md-3.col-sm-6
        .card.card-inverse.card-danger
          .card-block.bg-danger
            .rotate
              %i.fa.fa-list.fa-4x
            %h6.text-uppercase Posts
            %h1.display-1 87
      .col-md-3.col-sm-6
        .card.card-inverse.card-info
          .card-block.bg-info
            .rotate
              %i.fa.fa-twitter.fa-5x
            %h6.text-uppercase Tweets
            %h1.display-1 125
      .col-md-3.col-sm-6
        .card.card-inverse.card-warning
          .card-block.bg-warning
            .rotate
              %i.fa.fa-share.fa-5x
            %h6.text-uppercase Shares
            %h1.display-1 36
    / /row
    %hr/
    .row.placeholders
      .col-xs-6.col-sm-3.placeholder.text-center
        %img.center-block.img-responsive.img-circle{:alt => "Generic placeholder thumbnail", :src => "//placehold.it/200/dddddd/fff?text=1"}/
        %h4 Responsive
        %span.text-muted Device agnostic
      .col-xs-6.col-sm-3.placeholder.text-center
        %img.center-block.img-responsive.img-circle{:alt => "Generic placeholder thumbnail", :src => "//placehold.it/200/e4e4e4/fff?text=2"}/
        %h4 Frontend
        %span.text-muted UI / UX oriented
      .col-xs-6.col-sm-3.placeholder.text-center
        %img.center-block.img-responsive.img-circle{:alt => "Generic placeholder thumbnail", :src => "//placehold.it/200/d6d6d6/fff?text=3"}/
        %h4 HTML5
        %span.text-muted Standards-based
      .col-xs-6.col-sm-3.placeholder.text-center
        %img.center-block.img-responsive.img-circle{:alt => "Generic placeholder thumbnail", :src => "//placehold.it/200/e0e0e0/fff?text=4"}/
        %h4 Framework
        %span.text-muted CSS and JavaScript
    %a#features
    %hr/
    %p.lead
      Are you ready for Bootstap 4? It's the 4th generation of this popular responsive framework. Bootstrap 4 will include some interesting new features such as 5 grid sizes (now including xl), cards, `em` sizing, CSS normalization (reboot) and larger font
      sizes.
    %hr/
    .row
      .col-lg-3.col-md-4
        .card
          %img.card-img-top.img-responsive{:alt => "Card image cap", :src => "//placehold.it/740x180/bbb/fff?text=..."}/
          .card-block
            %h4.card-title Card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            %a.btn.btn-primary{:href => "#"} Button
        .card.card-inverse{:style => "background-color: #333; border-color: #333;"}
          .card-block
            %h3.card-title Dark background
            %p.card-text With supporting text below as a natural lead-in to additional content.
            %a.btn.btn-secondary-outline{:href => "#"} Outline
      .col-lg-9.col-md-8
        .table-responsive
          %table.table.table-striped
            %thead.thead-inverse
              %tr
                %th #
                %th Label
                %th Header
                %th Column
                %th Data
            %tbody
              %tr
                %td 1,001
                %td responsive
                %td bootstrap
                %td cards
                %td grid
              %tr
                %td 1,002
                %td rwd
                %td web designers
                %td theme
                %td responsive
              %tr
                %td 1,003
                %td free
                %td open-source
                %td download
                %td template
              %tr
                %td 1,003
                %td frontend
                %td developer
                %td coding
                %td card panel
              %tr
                %td 1,004
                %td migration
                %td bootstrap 4
                %td mobile-first
                %td design
              %tr
                %td 1,005
                %td navbar
                %td sticky
                %td jumbtron
                %td header
              %tr
                %td 1,006
                %td collapse
                %td affix
                %td submenu
                %td footer
              %tr
                %td 1,007
                %td layout
                %td examples
                %td themes
                %td grid
              %tr
                %td 1,008
                %td migration
                %td bootstrap 4
                %td flexbox
                %td design
    / /row
    %a#more
    %hr/