%nav.navbar.navbar-fixed-top.navbar-full.navbar-dark.bg-primary
  %button.navbar-toggler.hidden-sm-up.pull-right{"data-target" => "#collapsingNavbar", "data-toggle" => "collapse", :type => "button"}
    ☰
  %a.navbar-brand{:href => "#"} 
  #collapsingNavbar.collapse.navbar-toggleable-xs
    %ul.nav.navbar-nav.pull-right
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          SORA
      %li.nav-item
        %a.nav-link{:href => educations_path} Education
      %li.nav-item
        %a.nav-link{:href => employments_path} Employment
      %li.nav-item
        %a.nav-link{"data-toggle" => "collapse", :href => "#myAlert"} Updates
      %li.nav-item
        %a.nav-link{"data-target" => "#aboutModal", "data-toggle" => "modal", :href => ""} About

      - if current_user.present?
        %li.nav-item
          %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Hi #{current_user.email}!
        %li.nav-item
          = link_to t("layout.logout"), destroy_user_session_path, method: :delete, class: "dropdown-item"
      - else
        %li.nav-item
          = link_to t("login"), new_user_session_path, class: "btn btn-primary"

      %li.nav-item
        %form.form-inline.navbar-form.pull-right
          %input.form-control{:placeholder => "Search", :type => "text"}/
          %button.btn.btn-secondary-outline{:type => "submit"} Search

#aboutModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title SOMETHING!
      .modal-body
        .col-xs-12.col-sm-12.col-md-12
          / = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          /   = f.input :email, input_html: { autofocus: true }
          /   = f.input :password, as: :password
          /   %br
          /   = f.submit "Login", class: "btn btn-primary btn-block"
      .modal-footer
        /= link_to t("helpers.forgot_password"), new_user_password_path, class: "btn btn-sm btn-warning"
     